In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("india-news-headlines.csv")

In [7]:
df.isnull()

         publish_date  headline_category  headline_text
0               False              False          False
1               False              False          False
2               False              False          False
3               False              False          False
4               False              False          False
...               ...                ...            ...
3650965         False              False          False
3650966         False              False          False
3650967         False              False          False
3650968         False              False          False
3650969         False              False          False

[3650970 rows x 3 columns]

In [9]:
df

,publish_date,headline_category,headline_text
0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,20010102,unknown,America's unwanted heading for India?
3,20010102,unknown,For bigwigs; it is destination Goa
4,20010102,unknown,Extra buses to clear tourist traffic
...,...,...,...
3650965,20220331,city.srinagar,J&K sacks 2 cops; 3 other employees over terro...
3650966,20220331,entertainment.hindi.bollywood,Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967,20220331,city.trichy,As Covid-19 cases drop to nil in southern dist...
3650968,20220331,city.erode,Tamil Nadu sees marginal rise of Covid cases w...
3650969,20220331,city.salem,Tamil Nadu sees marginal rise of Covid cases w...

In [13]:
import requests

In [14]:
url = ('https://newsapi.org/v2/everything?'
       'q=BorderGavaskarTrophy&'
       'from=2023-02-09&'
       'sortBy=popularity&'
       'apiKey=86b9cef2935244629fd8d031b95e6cc2')

In [15]:
response = requests.get(url)

In [16]:
from pprint import pprint
response

In [17]:
data = response.json()

In [18]:
pprint(data)

{'articles': [{'author': 'Kristy Williams',
               'content': 'Australia have got off to the worst possible start '
                          'in their Test series against India, with David '
                          'Warner and Usman Khawaja both out for one just '
                          'three overs into the game.\r\n'
                          "Warner's stumps went cartw… [+2277 chars]",
               'description': 'Australia have got off to the worst possible '
                              'start in their Test series against India, with '
                              'David Warner and Usman Khawaja both out for one '
                              'just three overs into the game.',
               'publishedAt': '2023-02-09T04:52:41Z',
               'source': {'id': None, 'name': 'Daily Mail'},
               'title': 'Disastrous start for Australia in first game of '
                        'Border-Gavaskar Test cricket series against India',
               'url': 'https://www.dailymail.co.uk/sport/cricket/article-11730211/Disastrous-start-Australia-game-Border-Gavaskar-Test-cricket-series-against-India.html',
               'urlToImage': 'https://i.dailymail.co.uk/1s/2023/02/09/04/67492011-0-image-a-64_1675918143140.jpg'}],
 'status': 'ok',
 'totalResults': 1}

In [19]:
data['articles'][2]['title']

IndexError: list index out of range