In [67]:
import pandas as pd
import numpy as np

In [68]:
df = pd.read_csv("india-news-headlines.csv")
df

,publish_date,headline_category,headline_text
0,20010102,unknown,Status quo will not be disturbed at Ayodhya; s...
1,20010102,unknown,Fissures in Hurriyat over Pak visit
2,20010102,unknown,America's unwanted heading for India?
3,20010102,unknown,For bigwigs; it is destination Goa
4,20010102,unknown,Extra buses to clear tourist traffic
...,...,...,...
3650965,20220331,city.srinagar,J&K sacks 2 cops; 3 other employees over terro...
3650966,20220331,entertainment.hindi.bollywood,Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967,20220331,city.trichy,As Covid-19 cases drop to nil in southern dist...
3650968,20220331,city.erode,Tamil Nadu sees marginal rise of Covid cases w...
3650969,20220331,city.salem,Tamil Nadu sees marginal rise of Covid cases w...

In [69]:
df = df[df.headline_category != "unknown"]

In [70]:
df

,publish_date,headline_category,headline_text
85,20010102,entertainment.hindi.bollywood,Raju Chacha
126,20010103,entertainment.hindi.bollywood,'Devdas': Jinxed?
272,20010104,india,Dudhwa tiger died of starvation; not poisoning
273,20010104,city.bengaluru,Three in race for chief secy's post
274,20010104,city.patna,Druggists' stir leads to shortage of medicines
...,...,...,...
3650965,20220331,city.srinagar,J&K sacks 2 cops; 3 other employees over terro...
3650966,20220331,entertainment.hindi.bollywood,Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967,20220331,city.trichy,As Covid-19 cases drop to nil in southern dist...
3650968,20220331,city.erode,Tamil Nadu sees marginal rise of Covid cases w...
3650969,20220331,city.salem,Tamil Nadu sees marginal rise of Covid cases w...

In [71]:
df.head()

,publish_date,headline_category,headline_text
85,20010102,entertainment.hindi.bollywood,Raju Chacha
126,20010103,entertainment.hindi.bollywood,'Devdas': Jinxed?
272,20010104,india,Dudhwa tiger died of starvation; not poisoning
273,20010104,city.bengaluru,Three in race for chief secy's post
274,20010104,city.patna,Druggists' stir leads to shortage of medicines

In [72]:
del df["publish_date"]

In [73]:
df

,headline_category,headline_text
85,entertainment.hindi.bollywood,Raju Chacha
126,entertainment.hindi.bollywood,'Devdas': Jinxed?
272,india,Dudhwa tiger died of starvation; not poisoning
273,city.bengaluru,Three in race for chief secy's post
274,city.patna,Druggists' stir leads to shortage of medicines
...,...,...
3650965,city.srinagar,J&K sacks 2 cops; 3 other employees over terro...
3650966,entertainment.hindi.bollywood,Ranbir Kapoor says 'Rishi Kapoor enjoyed his a...
3650967,city.trichy,As Covid-19 cases drop to nil in southern dist...
3650968,city.erode,Tamil Nadu sees marginal rise of Covid cases w...
3650969,city.salem,Tamil Nadu sees marginal rise of Covid cases w...

In [74]:
df.headline_category

85         entertainment.hindi.bollywood
126        entertainment.hindi.bollywood
272                                india
273                       city.bengaluru
274                           city.patna
                       ...
3650965                    city.srinagar
3650966    entertainment.hindi.bollywood
3650967                      city.trichy
3650968                       city.erode
3650969                       city.salem
Name: headline_category, Length: 3441387, dtype: object

In [75]:
y = df.headline_category
X = df.headline_text

In [76]:
len(X)

3441387

In [77]:
len(y)

3441387

In [78]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2)
print("\nX_train:\n")
print(X_train.head())
print(X_train.shape)

print("\nX_test:\n")
print(X_test.head())
print(X_test.shape)

X_train:

196580                    Raid sends DDA officials scuttling
1514168                    Winning not a habit for ministers
3113779    Siddhaanth Vir Surryavanshi: I haven't got my ...
3189953                          Open breach of Traffic Rule
804927                       Girls ragged in JNU boys hostel
Name: headline_text, dtype: object
(2753109,)

X_test:

762809         Sheetal Mafatlal remanded to judicial custody
2682416    Staff crunch: Mecca Masjid security cover not ...
2725008      Rajnath to meet Kashmiri youth during J&K visit
2963012             UP railway stations a picture of neglect
1900587    Iraq slows rebel advance; US sends carrier to ...
Name: headline_text, dtype: object
(688278,)

In [79]:
# get some libraries that will be useful
import re


# the Naive Bayes model
from sklearn.naive_bayes import MultinomialNB
# function to split the data for cross-validation
from sklearn.model_selection import train_test_split
# function for transforming documents into counts
from sklearn.feature_extraction.text import CountVectorizer
# function for encoding categories
from sklearn.preprocessing import LabelEncoder

In [80]:
def normalize_text(s):
    s = s.lower()
    
    # remove punctuation that is not word-internal (e.g., hyphens, apostrophes)
    s = re.sub('\s\W',' ',s)
    s = re.sub('\W\s',' ',s)
    
    # make sure we didn't introduce any double spaces
    s = re.sub('\s+',' ',s)
    
    return s

df['TEXT'] = [normalize_text(s) for s in df['headline_text']]

<ipython-input-80-0d9c0a11b9e1>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TEXT'] = [normalize_text(s) for s in df['headline_text']]

In [81]:
df.head()

,headline_category,headline_text,TEXT
85,entertainment.hindi.bollywood,Raju Chacha,raju chacha
126,entertainment.hindi.bollywood,'Devdas': Jinxed?,'devdas' jinxed?
272,india,Dudhwa tiger died of starvation; not poisoning,dudhwa tiger died of starvation not poisoning
273,city.bengaluru,Three in race for chief secy's post,three in race for chief secy's post
274,city.patna,Druggists' stir leads to shortage of medicines,druggists stir leads to shortage of medicines

In [82]:
# pull the data into vectors
vectorizer = CountVectorizer()
x = vectorizer.fit_transform(df['TEXT'])

encoder = LabelEncoder()
y = encoder.fit_transform(df['headline_category'])

# split into train and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.5)

# take a look at the shape of each of these
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(1720693, 212846)
(1720693,)
(1720694, 212846)
(1720694,)

In [83]:
nb = MultinomialNB()

In [84]:
nb.fit(x_train, y_train)

MemoryError: Unable to allocate 6.67 GiB for an array with shape (1720693, 1040) and data type int32

In [97]:
# Dropping last n rows using drop
df.drop(df.tail(900000).index,
        inplace = True)

C:\Users\Himanshu\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [98]:
df

,headline_category,headline_text,TEXT
85,entertainment.hindi.bollywood,Raju Chacha,raju chacha
126,entertainment.hindi.bollywood,'Devdas': Jinxed?,'devdas' jinxed?
272,india,Dudhwa tiger died of starvation; not poisoning,dudhwa tiger died of starvation not poisoning
273,city.bengaluru,Three in race for chief secy's post,three in race for chief secy's post
274,city.patna,Druggists' stir leads to shortage of medicines,druggists stir leads to shortage of medicines
...,...,...,...
2181627,city.mumbai,Recover Rs 29 crore from RIL for land deal loss,recover rs 29 crore from ril for land deal loss
2181628,bombay-times,Recover Rs 29 crore from RIL for land deal loss,recover rs 29 crore from ril for land deal loss
2181629,city.mumbai,Nod for protected area photo shoot in 15 days,nod for protected area photo shoot in 15 days
2181630,bombay-times,Nod for protected area photo shoot in 15 days,nod for protected area photo shoot in 15 days
2181631,city.mumbai,BMC forms panel to sniff out fire hazards,bmc forms panel to sniff out fire hazards

In [99]:
nb.fit(x_train, y_train)

MemoryError: Unable to allocate 13.3 GiB for an array with shape (1720693, 1040) and data type int64